@import url("./panelCarga.css");
@import url("./asistencia.css");
@import url("./registro.css");


/* FUENTES */
@font-face {
    font-family: 'Geist';
    src: url('../assets/fonts/Geist/Geist-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
/* estructura */

body {
    font-family: 'Geist', sans-serif;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px auto 350px;
}
/* validaciones */
.errorInput{
    background-color: rgba(248, 28, 28, 0.462);
    border: 2px solid red;
}
.spanError {
    margin-left: 1rem;
    color: red;
    font-weight: bold;
}
.desaparece {
    display: none;
}
/* footer */

footer {
    background-image: url('../assets/img/footer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    color: white;
}
.tituloFooter {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 60px;
    background-color: rgba(147, 147, 148, 0.34);
    backdrop-filter: blur(8px);
    text-align: center;
}
.subscribete {
    position: relative;
    z-index: 2;
    margin: 10rem 0 3rem 0;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}
.contenedorSubscribete {
    display: flex;
    gap: 1rem;
}
.contenedorSubscribete button {
    padding: 0 .8rem;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}
.contenedorSubscribete input {
    padding: 0.5rem 0.7rem;
    border: none;
    border-radius: 4px;
    background-color: #F0F4FF;
    border: 1px solid #e8ecf7;
    width: 350px;
}
.contenedorSubscribete button:hover {
    background-color: rgb(186, 237, 237);
}
.links{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;
}
.contenedorLink a {
    margin-left: 1rem;
}
.copy {
    position: relative;
    z-index: 2;
    text-align: center;
}
/* header primero */
.headerIndex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}
.bienvenida {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #8C7D73;
}
.btnRegistrar{
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #8C7D73;
    color: white;
    display: flex;
    gap: 1rem;
    font-weight: bolder;
    letter-spacing: 1px;
    cursor: pointer;
}
.headerImg {
    min-height: 600px;
    background-image: url('../assets/img/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.blur {
    backdrop-filter: blur(8px);
    background-color: #ffffff5b;
    position: absolute;
    left: 40%;
    top: 50px;
    width: 750PX;
    height: 300PX;
    border-radius: 18px;
    padding: 1rem;
}
.headerImg h1{
    font-size: 2rem;
}
.headerImg h2 {
    font-size: 2.4rem;
    margin-bottom: 3rem;
}
.lunaContainer {
    position: relative;
    color: red;
    font-size: 3.2rem;
}
.luna{
    position: absolute;
    left: -10%;
    top: 64px;
    width: 250px;
    height: 250px;
    transform: rotate(-40deg);
    border-radius: 50%;
    background: transparent;
    box-shadow: 10px -10px 0 -10px red;
}

/* header Secundario*/
nav {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.menu{
    padding: .3rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.1rem;
}
nav ul {
    background-color:#323232;
    border-radius: 32px;
    color: azure;
}
.menu i {
    font-size: 2rem;
    background-color: white;
    color: black;
    border-radius: 50%;
    padding: .5rem;
}
li i:hover {
    background-color: black;
    color: white;
    transition: all .7s;
}
.animaText:hover{
    transform: scale(1.1);
    transition: all  .4s ease-out;
}
/* activo para navegacion */
.activo {
    text-shadow: 1px 1px 10px white;
    text-decoration: underline;
}

/* main */
.seccionMain {
    min-height: 100vh;
    margin: 1rem 0;
    position: relative;
}

/* tarjetas */
.contenedorTarjetas {
    position: absolute;
    top: 540px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.tarjeta {
    background-color: white;
    width: 180px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.4rem;
    border-radius: 14px;
    box-shadow: 2px 5px 10px 10px rgba(0, 0, 0, 0.17);
}
.tarjeta i {
    font-size: 2rem;
    background-color: #323232;
    padding: 0.4rem;
    border-radius: 4px;
    color: white;
}
.tarjeta p {
    font-size: 0.8rem;
    text-align: center;
}
/* objetivos */
.contenedorObjetivos {
    height: 450px;
    margin: 10rem 0 1rem 0;
    padding: 2rem 1rem;
    display: flex;
    gap: 1rem;
}
.contenedorObjetivos img {
    width: 50%;
    border-radius: 8px;
}
.objetivos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.objetivos h4, .objetivos span {
    color: red;
    font-size: 1.8rem;
}
/* opiniones */
.contenedorOpiniones {
    padding: 1rem;
    text-align: center;
}
.contenedorOpiniones h3{
    color: red;
    margin: 0.7rem 0;
}
.contenedorOpiniones h2 {
    margin: 1.5rem 0;
}
.contenedorTarje {
    width: 280px;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.297);
    margin: 1rem 0;
}
.opiniones {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}
.headOpinion {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.headOpinion img {
    width: 55px;
    border-radius: 8px;
}
.headOpinion h5{
    color: red;
}
.opinion p{
    font-size: 0.7rem;
    margin: 0.5rem 0;
}
.identificacion h4{
    margin-bottom: 0.5rem;
}
.estrellas{
    color: rgb(255, 217, 0);
}