
/* Seccion Carga */
#contenedorCarga{
    margin: 3rem 0;
}
.seccionCarga {
    margin: 1rem  auto;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.137);
    width: 95vw;
    background-color:#F0F4FF;
}

#cargaCurso{
    background-color: rgb(224, 197, 252);
}

#cargaAlumno{
    background-color: rgb(197, 224, 170);
}
.seccionTitulo {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.8rem;
    justify-content: center;
}
.fa-solid {
    cursor: pointer;
}
/* Formulario */
#institucionContenedor, #cursoContenedor, #alumnoContenedor {
    outline: 1px solid rgb(36, 35, 37);
    padding: 1.5rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}
.inputContenedor input, .inputContenedor select{
    padding: 0.5rem 0.7rem;
    border: none;
    border-radius: 4px;
    background-color: #F0F4FF;
    border: 1px solid #e8ecf7;
    width: 350px;
}
input:focus {
    outline: none;
    border: 1px solid rgb(161, 161, 161);
}
.inputContenedor {
    margin: 3.5rem 0;
    position: relative;
}
.inputContenedor label{
    position: absolute;
    top: -15px;
    font-size: 0.9rem;
    font-family: monospace;
}
#btnEscuela
{
    border: 1px solid lightblue;
    cursor: pointer;
}
/* listado */
.tabla th {
    padding: 0.7rem;
    background-color:rgb(158, 211, 211);
}
.tabla td {
    padding: 1rem;
    background-color: antiquewhite;
}
table {
    width: 100%;
}
.contenedorTabla {
    flex-grow: 1;
}