
/* Seccion Carga */
#contenedorCarga{
    margin: 3rem 0;
}
.seccionCarga {
    margin: 1rem  auto;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.137);
    width: 95vw;
    background-color:#F0F4FF;
}

#cargaCurso{
    background-color: rgb(224, 197, 252);
}

#cargaAlumno{
    background-color: rgb(197, 224, 170);
}
.seccionTitulo {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.8rem;
    justify-content: center;
}
.fa-solid {
    cursor: pointer;
}
/* Formulario */
#institucionContenedor, #cursoContenedor, #alumnoContenedor {
    outline: 1px solid rgb(36, 35, 37);
    padding: 1.5rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}
.inputContenedor {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;

}
input{
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: 1px solid rgba(128, 128, 128, 0.268);
    width: 75%;
}
label {
    position: absolute;
    top: 8px;
    left: 70px;
    color: #777777;
    background: white;
    padding: 0 4px;
    transition: 0.2s ease all;
    pointer-events: none;
    font-size: 0.9rem;
    background-color: transparent;
}
input:focus + label,
input:not(:placeholder-shown) + label,
input:valid + label {
    top: -15px;
    left: 68px;
    font-size: 12px;
    color: #333;
}
#btnEscuela
{
    border: 1px solid lightblue;
    cursor: pointer;
}
/* listado */
.tabla th {
    padding: 0.7rem;
    background-color:rgb(158, 211, 211);
}
.tabla td {
    padding: 1rem;
    background-color: antiquewhite;
}
table {
    width: 100%;
}
.contenedorTabla {
    flex-grow: 1;
}